
### Gradle
.gradle
build
*/.gradle
*/build

# Ignore Gradle GUI config
gradle-app.setting
*/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
*/.gradletasknamecache

### IntelliJ
/out
*/out
.idea
*/.idea

### GIT
.git
*/.git
